@font-face {
    font-family: "Barlow";
    src: url("../../assets/font/Barlow/Barlow-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Fraunces";
    src: url("../../assets/font/Fraunces/static/Fraunces_144pt_Soft-Black.ttf")
      format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Fraunces-Bold";
    src: url("../../assets/font/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
      format("truetype");
    font-weight: 900;
    font-style: normal;
  }