// media queries
$mobile :320px;
$desktop :1000px;

//Primary colors
$soft-red :hsl(7, 99%, 70%);
$yellow:hsl(51, 100%, 49%);
$primary-cyan:hsl(167, 40%, 24%);
$dark-blue:hsl(198, 62%, 26%);
$moderate-cyan:hsl(168, 38%, 41%);

//Neutral Colors
$saturated-blue:hsl(212, 27%, 19%);
$dark-gray:hsl(213, 9%, 39%);
$gray:hsl(232, 10%, 55%);
$white:hsl(0, 0%, 100%);
$light-gray:hsl(210, 4%, 67%);