@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;
@use "../../styles/partials/fonts" as *;

.hero{
    display:grid;
    grid-template-rows:auto ;
    gap:1rem;
    justify-content: center; 
    h1 {
        font-size: 45px;
        font-family: Fraunces;
        text-align: center;
        text-transform: uppercase;
        color: white;
        letter-spacing: 0.1em;
      }
      &-image {
        margin: auto;
      }
      @include mobile {
        h1 {
          margin-top: 2rem;
          font-size: 45px;
          text-align: center;
        }
      }
}