@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  &-list {
    display: flex;
    padding: 0;

    justify-content: space-between;
    li {
      margin: 1rem 1rem;
      padding: 1rem;
      list-style: none;
      font-family: Barlow;
      color: $white;
      &:hover {
        background-color: $white;
        color: $dark-blue;
        text-transform: uppercase;
        border-radius: 2rem;
        padding: 1rem;
        font-family: Fraunces-Bold;
      }
    }
  }
}
