@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/global.scss" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  &-list {
    display: none;
    @include desktop {
      display: flex;
      gap:2rem;
      padding: 0;
      color:$white;
      li {
        font-family: "Barlow";
        padding:1.2rem;
        &:hover {
          background-color: white ;
          padding: 1rem;
          border-radius: 1rem;
          text-transform: uppercase;
          color:$dark-blue;
        }
      }
    }
    &-mobile {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      font-family: Barlow;
      position: absolute;
      width:80%;
      height: 40%;
      background-color: white;
      top: 7%;
      left: 10%;
      padding:0;
      li {
        padding: 1rem;
        text-align: left;
        &:hover {
          background-color: $yellow;
          text-transform: uppercase;
          border-radius: 1rem;
          font-family: "Fraunces";
          color: $dark-blue;
        }
      }
    }
  }
  @include desktop {
    &-open-icon {
      display: none;
    }
  }
}
