@use "./styles/partials/mixins" as *;

.background{
    background: url("./assets/desktop/image-header.jpg");
    background-size: cover !important;
    height:30rem;
    background-position:center;
    @include mobile{
        background: url("./assets/mobile/image-header.jpg");
        background-position: center center;
        background-size: cover;
    }
}
