@use "./styles/partials/mixins" as *;

.background {
  background-image: url("./assets/mobile/image-header.jpg");
  background-size: cover;
  background-position: center center;
  height: 600px;
  @include desktop {
    background-image: url("./assets/desktop/image-header.jpg");
  }
}
