@use "../src/styles/partials/mixins" as *;
@use "../src/styles/partials/variables" as *;

.background {
  background: url("./assets/desktop/image-header.jpg");
  height: 30rem;
  background-size: cover;

  @include mobile {
    background: url("./assets/mobile/image-header.jpg");
    background-size:cover;
    background-position:center center;
  }
}
