@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.Banner {
  &-section {
    display: grid;
    grid-template-columns: 50% 50%;
    &-image1,
    &-image2,
    &-image3,
    &-image4 {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 30rem;
    }
    &-image1 {
      background-image: url("../../assets/desktop/image-transform.jpg");
    }

    &-image2 {
      background-image: url("../../assets/desktop/image-stand-out.jpg");
    }
    &-image3 {
      background-image: url("../../assets/desktop/image-graphic-design.jpg");

      display: flex;
      align-items: flex-end;
      justify-content: center;
      &-statement {
        text-align: center;
        width: 70%;
        padding-bottom: 2rem;
        h2 {
          font-family: Fraunces-Bold;
          color: $primary-cyan;
        }
        p {
          font-family: Barlow;
          color: $primary-cyan;
        }
      }
    }
    &-image4 {
      background-image: url("../../assets/desktop/image-photography.jpg");

      display: flex;
      align-items: flex-end;
      justify-content: center;
      &-statement {
        text-align: center;
        width: 60%;
       padding-bottom: 2rem;
        h2 {
          font-family: Fraunces-Bold;
          color: $dark-blue;
        }
        p {
          font-family: Barlow;
          color: $dark-blue;
          line-height: 1.5rem;
        }
      }
    }
    &-statement {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      padding: 4rem 4rem;
      h2 {
        font-family: Fraunces-Bold;
        font-size: 40px;
      }
      p {
        font-family: Barlow;
        color: $light-gray;
        line-height: 1.5rem;
      }
      h3 {
        font-family: Fraunces-Bold;
      }
      .statement1:hover {
        text-decoration: underline 5px solid $yellow;
      }
      .statement2:hover {
        text-decoration: underline 5px solid $soft-red;
      }
    }
  }
}
@include mobile {
  .Banner {
    &-section {
      display: flex;
      flex-direction: column;

      &-statement {
        padding: 3rem 2rem;
        text-align: center;
        margin: auto;

        h2 {
          font-family: Fraunces-Bold;
          font-size: 36px;
        }
        p {
          font-family: Barlow;
          color: $gray;
          line-height: 2rem;
        
        }
        h3 {
          font-family: Fraunces-Bold;
        }
      }
      &-image3,
      &-image4 {
        &-statement {
          width: auto;
          padding: 0rem 2rem 2rem 2rem;
        }
      }
    }
    .second {
      flex-direction: column-reverse;
    }
  }
}
